 
 
 <!-- **************************this page is for dynamic content if there is so much products *******************************************-->
 
 <!-- Navigation-->
 <nav class="navbar navbar-expand-lg navbar-dark fixed-top navbar-shrink" id="mainNav" role="navigation">
    <div class="container" >
          <a class="navbar-brand" href="#page-top"><img src="../../../assets/img/Frame.webp" alt="..." /></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars ms-1"></i>
         </button>
         
        
          <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                <li class="nav-item"><a class="nav-link "  aria-label="Acceuil" [routerLink]="['/']">{{'navbar.item1' | translate}}</a></li>
                <li class="nav-item"><a class="nav-link" aria-label="Portfolio" [routerLink]="['/']">{{'navbar.item2' | translate}}</a></li>
                <!-- <li class="nav-item"><a class="nav-link" href="#services">{{'navbar.item3' | translate}}</a></li> -->
                <li class="nav-item"><a class="nav-link" aria-label="Produits" [routerLink]="['/']">{{'navbar.item4' | translate}}</a></li>
                  <li class="nav-item"><a class="nav-link" aria-label="contact" [routerLink]="['/']">{{'navbar.item6' | translate}}</a></li>
                  <li class="nav-item" style="position: absolute; top: 50%; transform: translateY(-50%); right: 0; margin-right: 70px;">

                    
                    
                    
                  
                  
                  
                  
                </li>
                <li  class="nav-item faq" style="position: absolute; top: 50%; transform: translateY(-50%); right: 0;margin-right: 20px" routerLink="faq">
                  <a class="nav-link ">FAQ</a>
                </li>
              </ul>
             
                
          </div>
      </div>
  </nav>
  <!-- Masthead-->
  
  
       
       <!-- Masthead-->
        <header class="masthead" id="top"  #topElement>
            <div class="container">
                <!-- <div class="masthead-subheading">Our Products</div> -->
                <div class="masthead-heading text-uppercase">Le winner flow</div>
                <!-- <a class="btn btn-primary btn-xl text-uppercase" >Tell Me More</a> -->
            </div>
            
        </header>
<!-- Product Details Section -->


<section id="page-section" class="product-def-section">
    <div class="container" id="details">
        <div class="row product-def" style="margin-bottom: 0px;">
          <!-- Text on the left -->
          <div class="col-lg-6 d-flex align-items-center">
            <div class="text-details">
              <p class="mb-4 question">C’est quoi <strong>le WINNER FLOW ?</strong></p>
              <p class="text-muted">Le Winner Flow est un <strong>embout d'exsufflation</strong> conçu pour les exercices respiratoires, 
                fabriqué en France et certifié en tant que dispositif médical de <strong>classe 1 marqué CE</strong>. </p>

           
                <p class="text-muted"> 
                Cet appareil assure un débit ventilatoire constant et permet de réguler les pressions ventilatoires en fonction de la position du diaphragme.
                Il s'agit d'un outil de <strong>rééducation</strong> utilisant le débitmètre incitatif, avec des calibres gradués.</p>
          
                <p class="text-muted"> Son fonctionnement crée une résistance progressive à l'expiration, favorisant ainsi le renforcement des muscles respiratoires. 
                De plus, il offre la possibilité de freiner totalement ou partiellement le flux d'air, offrant ainsi un contrôle précis lors des exercices respiratoires, 
                par opposition à un frein rétentif qui interrompt volontairement le flux d'air.
              </p>
              
            </div>
          </div>

            <!-- Image on the right -->
            <div class="col-lg-6">
                <img  src='../../../assets/img/winner-flow-det.svg' alt="Product Image" class="img-fluid product-image">
              
              </div>
              
  
        </div>

    </div>
</section>



<section id="page-section" class="product-use-section">
    <div class="container" id="details">
        <div class="row product-use" style="margin-bottom: 0px;">
          <!-- Text on the left -->
          <div class="col-lg-6 d-flex align-items-center">
            <img  src='../../../assets/img/winner-use.svg' alt="Product Image" class="img-fluid product-image">

          </div>

            <!-- Image on the right -->
            <div class="col-lg-6">
                <div class="text-details">
                    <p class="mb-4 question">C’est quoi <strong>le WINNER FLOW ?</strong></p>
                    <p class="text-muted">Pendant la grossesse, l'abdomen subit une distension due à l'augmentation de volume du bébé et de l'utérus. 
                        Cette distension peut entraîner divers dysfonctionnements liés à l'affaiblissement progressif des muscles abdominaux,
                         tels que <strong>des sensations de pesanteur, des gênes, des douleurs lombaires et des troubles digestifs.</strong> <br>
                         <p class="text-muted">  L'accroissement du volume utérin restreint la mobilité du diaphragme, ce qui peut entraîner une gêne respiratoire. </p>
                 
                    
                  </div>
              </div>
              
           
                    </div>

    
    </div>
</section>



<section class="page-section bg-light" id="portfolio">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">Les exercises respiratoires avec le winner flow vont</h2>
      </div>
    <div class="image-carousel">
      <ul class="image-list">
        <li class="item">
          <img src='../../../assets/img/Rectangle 26.svg' alt="Product Image" class="img-fluid product-image">
          <div class="caption">Your caption text here</div>
        </li>
        <li class="item">
            <img src='../../../assets/img/Rectangle 27.svg' alt="Product Image" class="img-fluid product-image">
            <div class="caption">Your caption text here</div>
          </li>
          <li class="item">
            <img src='../../../assets/img/Rectangle 31.svg' alt="Product Image" class="img-fluid product-image">
            <div class="caption">Your caption text here</div>
          </li>
        <li class="item">
          <img src='../../../assets/img/Rectangle 26.svg' alt="Product Image" class="img-fluid product-image">
          <div class="caption">Your caption text here</div>
        </li>
        </ul>
    </div>
  </section>

  <section class="page-section winner-flow-section">
    <div class="text-center">
      <div class="image-and-title-container">
        <img src="../../../assets/img/mode-image1.svg" alt="Winner Flowの使い方 (How to Use Winner Flow)" class="winner-flow-icon">
        <h2 class="section-heading text-uppercase">Les exercises respiratoires avec le winner flow vont</h2>
      </div>
    </div>
    
    <div class="container">
      <div class="row">
        <div class="col-md-4 winner-flow-info">
          <div class="flow-numbers">
            <div class="number-item">
              <h1 class="number">1</h1>
              <p class="description">Placez le Winner Flow dans votre bouche, en le positionnant entre vos lèvres jusqu’à la première rainure.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 winner-flow-info">
          <div class="flow-numbers">
            <div class="number-item">
              <h1 class="number">2</h1>
              <p class="description">Évitez de le presser entre vos dents, gardez-le entre vos lèvres.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 winner-flow-info">
          <div class="flow-numbers">
            <div class="number-item">
              <h1 class="number">3</h1>
              <p class="description">Maintenez une direction perpendiculaire à votre visage pendant l’expiration active.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
  

  
  <section id="page-section" class="product-def-section">
    <div class="container" id="details">
        <div class="row product-def" style="margin-bottom: 0px;">
          <!-- Text on the left -->
          <div class="col-lg-6 d-flex align-items-center">
            <div class="text-details">
              <p class="mb-4 question">Sélection du manomètre</p>
              <p class="text-muted">L’appareil comprend une bague de régulation du débit, vous permettant de choisir le calibre (allant <span class="colored-text-1">de 2,5</span> à <span class="colored-text-2">0</span>).</p>

              <ul>
                <li>Commencez par un réglage de 1<span class="colored-text"> lors de la première séance en position horizontale.</span></li>
                <li>Ajustez le calibre jusqu’à obtenir une respiration constante <span class="colored-text"> de 4 secondes.</span></li>
                <li>Si nécessaire, diminuez le calibre (par exemple, >0,8, 0,6, 0,4 ou 0,2) en fonction de votre confort et de la durée de la respiration.</li>
                <li>Inversement, si la durée de la respiration dépasse 4 secondes, augmentez l’ouverture du Winner Flow.</li>
              </ul>
           
              <p class="text-muted"> 
                N’oubliez pas que la respiration adéquate et l’engagement abdominal sont essentiels pour un renforcement efficace du plancher pelvien. 
                Le Winner Flow facilite ce processus et contribue à la santé pelvienne globale.
              </p>
            </div>
          </div>

            <!-- Image on the right -->
            <div class="col-lg-6">
                <img src='../../../assets/img/sflow1.png' alt="Product Image" class="img-fluid product-image">
            </div>
        </div>
    </div>
</section>


<section id="page-section" class="product-def-section">

    <div class="image-grid">
        <img src="../../../assets/img/Mask group.svg" alt="">
        <img src="../../../assets/img/Mask group-1.svg" alt="">
        <img src="../../../assets/img/Mask group-2.svg" alt="">
        <img src="../../../assets/img/Mask group-3.svg" alt="">
   
    </div>

</section>
    <section class="page-section bg-light" id="team">
        <div class="container">
            <div class="text-center">
                <svg height="64px" width="64px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" xml:space="preserve" fill="#48BAC3"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <g id="right_x5F_quote"> <g> <path style="fill:#48BAC3;" d="M0,4v12h8c0,4.41-3.586,8-8,8v4c6.617,0,12-5.383,12-12V4H0z"></path> 
                    <path style="fill:#48BAC3;" d="M20,4v12h8c0,4.41-3.586,8-8,8v4c6.617,0,12-5.383,12-12V4H20z"></path> </g> </g> </g> </g></svg>
                    <h2 class="section-heading colored-h2">Une préparation physique pour la naissance <br> basée sur <span class="colored-text">la respiration</span></h2>


            </div>
  

        </div>
    </section>
    
    


