<div id="home">
  <header class="masthead">
    <div class="container">
      <div class="text-with-image">
        <h1 class="masthead-heading">
          <span class="text1">Bienvenue sur le site de</span>
          <span class="text2"> 
            <span class="color-green">HBMI Solutions</span>
          </span>
        </h1>
        <span class="description">
          <p class="par">
            Votre partenaire de confiance en matière de dispositifs médicaux.
            Découvrez notre gamme de produits innovants dédiés à l'amélioration de la santé et du bien-être.
          </p>
          <a href="#portfolio" class="btn btn-primary btn-lg">Voir Plus</a>
        </span>
      </div>
    </div>
  </header>
</div>
 