/* Styles for text alignment and coloring */
.color-blue {
  color: #000E44;
}

.color-green {
  color: #48BAC3;
}

/* Adjustments to align elements on the same line */
.masthead-heading {
  display: block;
  align-items: center;
  text-align: left;
  margin: 0;
  padding: 0;
}

.text1 {
  margin-right: 10px; /* Add margin between text1 and text2 */
  color: #000E44;
}

.text2 {
  display: flex;
  align-items: center; /* Align text2 with text1 */ 
  margin-right: 10px;
}

.description {
  text-align: left;
  color: #000E44;font-weight: 500;
  margin-top:300px !important ;

}    


