<section class="page-section bg-light" id="faq">
    <div class="container">
        <section class="faq-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <!-- Image added here -->
                        <img src="../../../assets/img/FAQs-amico.svg" alt="Image Description" class="faq-image">
                    </div>
                    <div class="col-md-6">
                        <div class="faq" id="accordion">
                            <div class="faq" id="accordion">
                                <div class="card">
                                    <div class="card-header" id="faqHeading-1">
                                        <div class="mb-0">
                                            <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-1" data-aria-expanded="true" data-aria-controls="faqCollapse-1">
                                                <span class="badge">1</span>Pourquoi proposer à chaque patiente une préparation avec le Winner Flow ?
                                            </h5>
                                        </div>
                                    </div>
                                    <div id="faqCollapse-1" class="collapse" aria-labelledby="faqHeading-1" data-parent="#accordion">
                                        <div class="card-body">
                                            <p>Durant la grossesse, l'abdomen se distend par l'augmentation de volume du bébé et de l'utérus, cette distension entraîne de nombreux dysfonctionnements liés à l'incompétence progressive de la musculature abdominale : pesanteurs, gênes, douleurs lombaires, troubles digestifs...
                                                Le volume utérin augmente et diminue la mobilité du diaphragme.  Il provoque une gêne respiratoire.
                                                </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="faqHeading-2">
                                        <div class="mb-0">
                                            <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-2" data-aria-expanded="false" data-aria-controls="faqCollapse-2">
                                                <span class="badge">2</span>A partir de quel mois on commence à utiliser le Winner flow dans le cadre de préparation de l’accouchement ?
                                            </h5>
                                        </div>
                                    </div>
                                    <div id="faqCollapse-2" class="collapse" aria-labelledby="faqHeading-2" data-parent="#accordion">
                                        <div class="card-body">
                                            <p>Il est recommandé de commencer à utiliser le Winner Flow dans le cadre de la préparation à l'accouchement idéalement au 4ème mois de grossesse. C'est à ce moment-là que la prise en charge physique de la grossesse, comprenant des exercices respiratoires, peut être initiée. Ces exercices visent à apprendre set à entretenir les muscles abdominaux, favorisant ainsi une meilleure capacité respiratoire. La compétence musculaire, notamment la compétence expiratoire liée aux abdominaux, contribue à rendre le thorax plus souple, le diaphragme plus mobile, et augmente la capacité respiratoire.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="faqHeading-3">
                                        <div class="mb-0">
                                            <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-3" data-aria-expanded="false" data-aria-controls="faqCollapse-3">
                                                <span class="badge">3</span>Est-ce qu’on peut utiliser le Stimflow dans le cadre de préparation à l’accouchement ?
                                            </h5>
                                        </div>
                                    </div>
                                    <div id="faqCollapse-3" class="collapse" aria-labelledby="faqHeading-3" data-parent="#accordion">
                                        <div class="card-body">
                                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="faqHeading-4">
                                        <div class="mb-0">
                                            <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-4" data-aria-expanded="false" data-aria-controls="faqCollapse-4">
                                                <span class="badge">4</span>Après l’accouchement par césarienne, est ce qu’on peut utiliser directement le Stimflow avec les électrodes abdominales ?
                                            </h5>
                                        </div>
                                    </div>
                                    <div id="faqCollapse-4" class="collapse" aria-labelledby="faqHeading-4" data-parent="#accordion">
                                        <div class="card-body">
                                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>