

<section class="page-section bg-light" id="product" >
  <div class="container"  >
    <div class="text-center" >
        <h2 class="section-heading text-uppercase"  >PRODUITS</h2>
        <h3 class="section-subheading text-muted" >Notre Produts Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim eius minus adipisci iusto ipsa vitae ipsam, </h3>
    </div>
<div class="center" style="margin-top: -20dvh;">
  <div class="carousel-wrapper" >
    <!-- abstract radio buttons for slides -->
    <input id="slide1" type="radio" name="controls" checked="checked" />
    <input id="slide2" type="radio" name="controls" />
    <input id="slide3" type="radio" name="controls" />
    <input id="slide4" type="radio" name="controls" />
    <input id="slide5" type="radio" name="controls" />
    <input id="slide6" type="radio" name="controls" />

    <!-- navigation dots -->
    <!-- <label for="slide1" class="nav-dot"></label>
    <label for="slide2" class="nav-dot"></label>
    <label for="slide3" class="nav-dot"></label>
    <label for="slide4" class="nav-dot"></label>
    <label for="slide5" class="nav-dot"></label>
    <label for="slide6" class="nav-dot"></label> -->

    <!-- arrows -->
    <label for="slide1" class="left-arrow"> < </label>
    <label for="slide2" class="left-arrow"> < </label>
    <label for="slide3" class="left-arrow"> < </label>
    <label for="slide4" class="left-arrow"> < </label>
    <label for="slide5" class="left-arrow"> < </label>
    <label for="slide6" class="left-arrow"> < </label>

    <label for="slide1" class="right-arrow"> > </label>
    <label for="slide2" class="right-arrow"> > </label>
    <label for="slide3" class="right-arrow"> > </label>
    <label for="slide4" class="right-arrow"> > </label>
    <label for="slide5" class="right-arrow"> > </label>
      <label for="slide6" class="right-arrow"> > </label>

    <div class="carousel">
      <ul>
        <li>
     
          <img src="../../../assets/img/sflow1.webp" alt="">
          <h3>Winner Flow</h3>
          <a href="#" class="voir-plus-button">Voir Plus</a>

        </li>
        <li>
          <img src="../../../assets/img/score.webp" />
          <h3>SCORES</h3>
          <a href="#" class="voir-plus-button">Voir Plus</a>

        </li>
        <li>
          <img src="../../../assets/img/sflow2.webp" />
          <h3>STIM-Flow</h3>
          <a href="#" class="voir-plus-button">Voir Plus</a>

        </li>
        <li>
          <img src="../../../assets/img/e1.webp">
          <h3>Electode abdominale diastasis</h3>
          <a href="#" class="voir-plus-button">Voir Plus</a>

        </li>
        <li>
          <img src="../../../assets/img/e2.webp" alt="">
          <h3>Electrode périnéale</h3>
          <a href="#" class="voir-plus-button">Voir Plus</a>

        </li>
        <li>
          <img src="../../../assets/img/e3.webp" alt="">
          <h3>Title 1</h3>
          <a href="#" class="voir-plus-button">Voir Plus</a>

        </li>
      </ul>
    </div>
  </div>
</div>
  </div></section>