  <section class="page-section bg-light" id="product">
    <div class="container">
      <div class="text-center">
          <h2 class="section-heading text-uppercase">PRODUITS</h2>
          <!-- <h3 class="section-subheading text-muted">Notre Produts Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim eius minus adipisci iusto ipsa vitae ipsam, </h3> -->
      </div>
<!-- product-list.component.html -->

<div class="articles">
  <article *ngFor="let product of products">
    <div class="article-wrapper">
      <figure>
        <img [src]="product.image" alt="{{ product.name }}">
      </figure>
      <div class="article-body">
        <h2>{{ product.name }}</h2>
        <p>{{ product.description }}</p>
        <!-- Use Angular router link to navigate to dynamic product details page -->
        <a [routerLink]="['/product-info', product.name]" class="read-more">
          Read more <span class="sr-only">about {{ product.name }}</span>
          <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
          </svg>
        </a>
      </div>
    </div>
  </article>
</div>

    </div>
      </section>
















      