 <!-- Navigation-->
 <nav class="navbar navbar-expand-lg navbar-dark fixed-top navbar-shrink" id="mainNav" role="navigation">
    <div class="container" >
          <a class="navbar-brand" href="#page-top"><img src="../../../assets/img/Frame.webp" alt="..." /></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars ms-1"></i>
         </button>
         
        
          <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                <li class="nav-item"><a class="nav-link "  aria-label="Acceuil" [routerLink]="['/']">{{'navbar.item1' | translate}}</a></li>
                <li class="nav-item"><a class="nav-link" aria-label="Portfolio" [routerLink]="['/']">{{'navbar.item2' | translate}}</a></li>
                <!-- <li class="nav-item"><a class="nav-link" href="#services">{{'navbar.item3' | translate}}</a></li> -->
                <li class="nav-item"><a class="nav-link" aria-label="Produits" [routerLink]="['/']">{{'navbar.item4' | translate}}</a></li>
                  <li class="nav-item"><a class="nav-link" aria-label="contact" [routerLink]="['/']">{{'navbar.item6' | translate}}</a></li>
                  <li class="nav-item" style="position: absolute; top: 50%; transform: translateY(-50%); right: 0; margin-right: 70px;">

                    
                    
                    
                  
                  
                  
                  
                </li>
                <li  class="nav-item faq" style="position: absolute; top: 50%; transform: translateY(-50%); right: 0;margin-right: 20px" routerLink="faq">
                  <a class="nav-link ">FAQ</a>
                </li>
              </ul>
             
                
          </div>
      </div>
  </nav>
  <!-- Masthead-->
  
  
       
       <!-- Masthead-->
        <header class="masthead" id="top"  #topElement>
            <div class="container">
                <div class="masthead-subheading">Our Products</div>
                <div class="masthead-heading text-uppercase">discover our produt</div>
                <!-- <a class="btn btn-primary btn-xl text-uppercase" >Tell Me More</a> -->
            </div>
            
        </header>
<!-- Product Details Section -->


<section id="page-section" class="product-details-section">
    <div class="container" id="details">
        <div class="row bg-light" style="margin-bottom: 0px;">
          <!-- Text on the left -->
          <div class="col-lg-6 d-flex align-items-center">
            <div class="text-details">
              <h2 class="text-uppercase mb-4">{{ productName }}</h2>
              <p class="text-muted">Some compelling information about the product goes here... Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde a quia ea voluptatibus illo assumenda vero velit,
                perferendis officiis eligendi facere blanditiis sapiente soluta. Corporis quae dolorem id placeat vitae.</p>
            </div>
          </div>

            <!-- Image on the right -->
            <div class="col-lg-6">
                <img *ngIf="selectedProduct" [src]="'../../../assets/img/' + selectedProduct.image" alt="Product Image" class="img-fluid product-image">
                <div *ngIf="!selectedProduct">
                  <p>No product found for the given name.</p>
                </div>
              </div>
              
            <ul class="timeline">
                <li>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                        </div>
                    </div>
                </li>
            
            
            
            </ul>
        </div>

        <div class="row mt-5 bg-white" style="padding: 20px; border-radius: 20px;  margin-top: -50px;  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;;">
            <!-- Video on the right -->
            <div class="col-lg-6">
                <div class="video-container embed-responsive embed-responsive-16by9">
                    <!-- If you want to add a video (replace with your video embed code) -->
                    <video class="embed-responsive-item" controls poster="../../assets/img/poster.png">
                        <source src="../../../assets/01.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                      </video>                </div>
                <!-- <p class="text-muted mt-3">Watch a brief video to learn more about the product...</p> -->
            </div>

            <!-- Text on the left -->
            <div class="col-lg-6 d-flex align-items-center">
                <div class="text-details">
                    <h2 class="text-uppercase mb-4">{{ productName }}</h2>
                    <ul class="list-unstyled">
                        <li>Bullet point 1</li>
                        <li>Bullet point 2</li>
                        <li>Bullet point 3</li>
                    </ul>
                    <p class="text-muted mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
                </div>
            </div>
        </div>
    </div>

    <ul class="timeline">
        <li>
            <div class="timeline-panel">
                <div class="timeline-heading">
                </div>
            </div>
        </li>
    
    
    
    </ul>

    <section class="page-section bg-light" id="team">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Caractéristiques</h2>

                <h3 class="section-subheading text-muted">{{ productName }}</h3>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="team-member">
                        <i class="fas fa-user mx-auto rounded-circle fa-5x"></i>
                        <h4>Parveen Anand</h4>
                        <p class="text-muted">Stimulation ciblée</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="team-member">
                        <i class="fas fa-heartbeat mx-auto rounded-circle fa-5x"></i>
                        <h4>Diana Petersen</h4>
                        <p class="text-muted">Amélioration de la circulation sanguine</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="team-member">
                        <i class="fas fa-dumbbell mx-auto rounded-circle fa-5x"></i>
                        <h4>Larry Parker</h4>
                        <p class="text-muted">Renforcement musculaire</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 mx-auto text-center">
                    <p class="large text-muted">
                        Le {{ productName }} est un stimulateur biofeedback abdomino-périnéal, associé au Winner Flow, offrant des caractéristiques telles que la stimulation ciblée, l'amélioration de la circulation sanguine et le renforcement musculaire.
                    </p>
                </div>
            </div>
        </div>
    </section>
    
    

    <ul class="timeline">
        <li>
            <div class="timeline-panel">
                <div class="timeline-heading">
                </div>
            </div>
        </li>
    
    
    
    </ul>


    <section class="page-section bg-light" id="product">
        <div class="container">
          <div class="text-center">
              <h2 class="section-heading text-uppercase">Autres Produits</h2>
              <!-- <h3 class="section-subheading text-muted">Notre Produts Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim eius minus adipisci iusto ipsa vitae ipsam, </h3> -->
          </div>
    <!-- product-list.component.html -->
    
    <div class="articles">
      <article *ngFor="let product of otherProducts">
        <div class="article-wrapper">
          <figure>
            <img [src]="product.image" alt="{{ product.name }}">
          </figure>
          <div class="article-body">
            <h4>{{ product.name }}</h4>
            <!-- Use Angular router link to navigate to dynamic product details page -->
            <a [routerLink]="['/product-info', product.name]" class="read-more" (click)="scrollToTop()">
              Read more <span class="sr-only">about {{ product.name }}</span>
              <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
              </svg>
            </a>
          </div>
        </div>
      </article>
    </div>
    
        </div>
          </section>
    
    