    <!------ Section: Testimonial ------>
    <section class="testimonial" id="testimonial">
      <h2>Notre Engagement en Formations Médicales</h2>
      <!-- <p class="section-desc">
        We provide a learning experience that is not available elsewhere. We
        have over 50,000 happy students.
      </p> -->
      <div class="row">
        <div class="column">
          <!-- <div class="testimonial-image">
            <img src="../../../assets/TEMé/Group.png" />
            
          </div> -->
          <h3>Évolution Professionnelle Continue </h3>
          <p>
            Restez à la pointe de l'industrie grâce à notre formation continue de haute qualité. Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis repellat quidem illum libero assumenda voluptatibus harum, maxime voluptates quae aliquid ipsum quibusdam, quasi veritatis, dicta tenetur ratione optio ab debitis?
          </p>
        </div>
        <div class="column">
          <!-- <div class="testimonial-image">
            <img src="../../../assets/TEMé/groupe2.png" />
          </div> -->
          <h3>Satisfaction Client et Pratiques Excellentes</h3>
          <p>
            Approfondissez vos compétences pour des soins centrés sur le patient. Lorem ipsum dolor sit amet consectetur adipisicing elit. In, ut distinctio unde sunt reiciendis labore repudiandae quidem atque officiis veniam sit tempora voluptatum molestias quas aperiam officia? Veniam, beatae vitae.
          </p>
        </div>
        <div class="column">
          <!-- <div class="testimonial-image">
            <img src="../../../assets/TEMé/Group.png" />
          </div> -->
          <h3>
            Formation sur les Produits Médicaux Innovants</h3>

          <p>
            Maîtrisez les technologies de pointe pour des soins de qualité. Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia ab neque in ex vel id perferendis, quaerat tempore fuga quia. Minus veniam magnam quasi consectetur incidunt iure quod explicabo ad.
          </p>
        </div>
      </div>
    </section>
    