.whatsapp-icon {
    position: fixed;
    bottom: 40px; /* Adjust this value to change the vertical position */
    right: 20px; /* Adjust this value to change the horizontal position */
  }
  
  .whatsapp-icon .icon {
    background-color: #25d366; /* WhatsApp green color */
    color: #fff;
    font-size: 24px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease;
  }
  
  .whatsapp-icon .icon:hover {
    background-color: #128c7e; /* Darker green color on hover */
  }
  
  /* Style for the scroll-to-top icon */
