<body id="page-top">
    <app-nav-bar></app-nav-bar>
    <!-- About-->
    <app-about></app-about>
    <app-video-carousel></app-video-carousel>
<app-services></app-services>
<app-products></app-products>
<!-- Team-->
<app-team></app-team>
<!-- Clients-->
<!-- <app-clients></app-clients> -->
<!-- Contact-->
<app-contact></app-contact>
<!-- Footer-->
<app-footer>
    
</app-footer>
<!-- Fixed Icon -->
<div class="whatsapp-icon">
    <a href="https://api.whatsapp.com/send?phone=1234567899" class="icon">
      <i class="fab fa-whatsapp"></i>
    </a>
  </div>  
</body>