<app-nav-bar></app-nav-bar>
<app-header></app-header>
<!-- About-->
<app-video-carousel></app-video-carousel>

<app-services></app-services>
<app-products></app-products>

<!-- formation -->

 <!-- Portfolio Grid-->
 <section class="page-section bg-light" id="portfolio">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Nos Formations</h2>
            <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 1-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">Formation pratique à la rééducation Abdo-Périnéo-Expiratoire avec le Winner Flow et le STIMFLOW®
                                Proposée en présentiel ou en visioconférence</div>
                        </div>
                        <img class="img-fluid" src="../../../assets/formations/f1.png" alt="Formation pratique à la rééducation Abdo-Périnéo-Expiratoire" />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Formation Sages-femmes</div>
                        <div class="portfolio-caption-subheading text-muted">   <i class="far fa-clock" aria-hidden="true"></i>  14H
                            <i class="far fa-file-alt" aria-hidden="true" style="color: #0a98b4;"></i>  7 Chapitres
                            <i class="far fa-calendar" aria-hidden="true"></i> <!-- Ajoutez une étiquette pour indiquer l'icône de calendrier -->
 3 et 4 Février 2024</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 2-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">Formation pratique à la rééducation Abdo-Périnéo-Expiratoire avec le Winner Flow et le STIMFLOW®
                                Proposée en présentiel ou en visioconférence</div>
                        </div>
                        <img class="img-fluid" src="../../../assets/formations/f2.png" alt="Formation pratique à la rééducation Abdo-Périnéo-Expiratoire" />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Formation Sages-femmes</div>
                        <div class="portfolio-caption-subheading text-muted">  <i class="far fa-clock" aria-hidden="true"></i>
                            14H
                            <i class="far fa-file-alt" aria-hidden="true" style="color: #0a98b4;"></i> <!-- Ajoutez une étiquette pour indiquer l'icône de fichier -->
                            7 Chapitres
                            <i class="far fa-calendar" aria-hidden="true"></i> <!-- Ajoutez une étiquette pour indiquer l'icône de calendrier -->
                            3 et 4 Février 2024</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 3-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal3">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">Formation pratique à la rééducation Abdo-Périnéo-Expiratoire avec le Winner Flow et le STIMFLOW®
                                Proposée en présentiel ou en visioconférence</div>
                        </div>
                        <img class="img-fluid" src="../../../assets/formations/f3.png" alt="Formation pratique à la rééducation Abdo-Périnéo-Expiratoire" />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Formation Sages-femmes</div>
                        <div class="portfolio-caption-subheading text-muted ">
                            <i class="far fa-clock" aria-hidden="true"></i>  14H
                             <i class="far fa-file-alt" aria-hidden="true" style="color: #0a98b4;"></i> 7 Chapitres
                            <i class="far fa-calendar" aria-hidden="true"></i> <!-- Ajoutez une étiquette pour indiquer l'icône de calendrier -->
                            3 et 4 Février 2024
                        
                        
                        </div>

                        
                    </div>
                </div>
            </div>



        </div>
    </div>
</section>
<!-- Team-->
<!-- Clients-->
<!-- Contact-->
<app-contact></app-contact>