 
 
 <!-- **************************this page is for dynamic content if there is so much products *******************************************-->
 
 <!-- Navigation-->
 <nav class="navbar navbar-expand-lg navbar-dark fixed-top navbar-shrink" id="mainNav" role="navigation">
    <div class="container" >
          <a class="navbar-brand" href="#page-top"><img src="../../../assets/img/Frame.webp" alt="..." /></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars ms-1"></i>
         </button>
         
        
          <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                <li class="nav-item"><a class="nav-link "  aria-label="Acceuil" [routerLink]="['/']">{{'navbar.item1' | translate}}</a></li>
                <li class="nav-item"><a class="nav-link" aria-label="Portfolio" [routerLink]="['/']">{{'navbar.item2' | translate}}</a></li>
                <!-- <li class="nav-item"><a class="nav-link" href="#services">{{'navbar.item3' | translate}}</a></li> -->
                <li class="nav-item"><a class="nav-link" aria-label="Produits" [routerLink]="['/']">{{'navbar.item4' | translate}}</a></li>
                  <li class="nav-item"><a class="nav-link" aria-label="contact" [routerLink]="['/']">{{'navbar.item6' | translate}}</a></li>
                  <li class="nav-item" style="position: absolute; top: 50%; transform: translateY(-50%); right: 0; margin-right: 70px;">

                    
                    
                    
                  
                  
                  
                  
                </li>
                <li  class="nav-item faq" style="position: absolute; top: 50%; transform: translateY(-50%); right: 0;margin-right: 20px" routerLink="faq">
                  <a class="nav-link ">FAQ</a>
                </li>
              </ul>
             
                
          </div>
      </div>
  </nav>
  <!-- Masthead-->
  
  
       
       <!-- Masthead-->
        <header class="masthead" id="top"  #topElement>
            <div class="container">
                <!-- <div class="masthead-subheading">Our Products</div> -->
                <div class="masthead-heading text-uppercase">Le STIMFLOW</div>
                <!-- <a class="btn btn-primary btn-xl text-uppercase" >Tell Me More</a> -->
            </div>
            
        </header>
<!-- Product Details Section -->


<section id="page-section" class="product-def-section">
    <div class="container" id="details">
        <div class="row product-def" style="margin-bottom: 0px;">
          <!-- Text on the left -->
          <div class="col-lg-6 d-flex align-items-center">
            <div class="text-details">
              <p class="mb-4 question">C’est quoi la rééducation Abdomino Périnéo Expiratoire (A.P.E) ?</p>
              <p class="text-muted">C'est une technique globale de rééducation basée sur la respiration associée à une stimulation proprioceptive de l'abdomen et du périnée.</p>
              <p class="text-muted">Elle permet la récupération des 2 musculatures : les abdominaux et le système périnéo-sphinctérien.</p>
              <p class="text-muted">Elle restaure également la fonction de bonne transmission des pressions et de bonne synergie abdomino-diaphragmatique dans un but de protection périnée.</p>


          <p class="text-font">"L 'abdomen, le périnée, la respiration, un trio indissociable..."</p>
              
            </div>
          </div>

            <!-- Image on the right -->
            <div class="col-lg-6">
                <img  src='../../../assets/img/stim-details/1.svg' alt="Product Image" class="img-fluid product-image">
              
              </div>
              
  
        </div>

    </div>
</section>


<section id="page-section" class="product-use-section">
  <div class="container" id="details">
      <div class="row product-use" style="margin-bottom: 0px;">
          <!-- Image on the left -->
          <div class="col-lg-6 d-flex align-items-center">
              <img src='../../../assets/img/stim-details/2.svg' alt="Product Image" class="img-fluid product-image">
          </div>

          <!-- Text details on the right -->
          <div class="col-lg-6">
              <div class="text-details">
                  <p class="mb-4 question">C’est quoi le<strong> STIMFLOW ?</strong></p>
                  <p class="text-muted">Le STIMFLOW® est un stimulateur biofeedback abdomino-périnéal, associé au Winner Flow, qui permet de rééduquer les pathologies de la statique pelvienne.</p>
                  <p>Le stimulateur STIMFLOW® propose 2 fonctions :</p>
                  <ul>
                      <li>Une stimulation (stimulation des muscles et des fibres nerveuses) qui assiste la contraction volontaire du patient.</li>
                      <li>Un effet proprioceptif (prise de conscience de la musculature et la perception d'une contraction sous les électrodes accompagnant la contraction volontaire musculaire).</li>
                  </ul>
                  <p>LA stimulation proprioceptive permet de restaurer :</p>
                  <ul>
                      <li>La stimulation abdominale : le synchronisme entre les muscles transverses et le diaphragme.</li>
                      <li>La stimulation périnéale : le synchronisme entre les muscles transverses et le périnée. Le plancher pelvien est ensuite rééduqué de la même façon avec une électrode le cutanée non invasive.</li>
                  </ul>
              </div>
              <div class="container-img">
                  <img src='../../../assets/img/stim-details/3.svg' alt="Product Image" class="img-fluid product-image">
                  <img src='../../../assets/img/stim-details/4.svg' alt="Product Image" class="img-fluid product-image">
              </div>
          </div>
      </div>
  </div>
</section>




<section class="page-section bg-light" id="portfolio">
  <div class="container">
      <div class="text-center">
          <h2 class="section-heading text-uppercase">les pathologies à traiter Avec le Stimflow </h2>
          <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
      </div>
      <div class="row">
          <div class="col-lg-4 col-sm-6 mb-4">
              <!-- Portfolio item 1-->
              <div class="portfolio-item">
                  <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                      <div class="portfolio-hover">
                          <div class="portfolio-hover-content">                
                            <ul>
                              <li>1.Syndrome d'hyperactivité vésicale​​</li>
                              <li>2.Troubles par regorgement ​</li>
                              <li>3.Pathologies urinaires prostatiques</li>
                          </ul>
        
                              
                    </div>
                      </div>
                      <img class="img-fluid" src="../../../assets/formations/f1.png" alt="Formation pratique à la rééducation Abdo-Périnéo-Expiratoire" />
                  </a>
                  <!-- <div class="patholo">
                    <ul>
                      <li>1.Syndrome d'hyperactivité vésicale​​</li>
                      <li>2.Troubles par regorgement ​</li>
                      <li>3.Pathologies urinaires prostatiques</li>
                  </ul>

                      
                  </div> -->
              </div>
          </div>
          <div class="col-lg-4 col-sm-6 mb-4">
              <!-- Portfolio item 2-->
              <div class="portfolio-item">
                  <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                      <div class="portfolio-hover">
                          <div class="portfolio-hover-content">        <ul>
                            <li>1.Incontinence urinaire d'effort</li>
                            <li>2.Incontinence urinaire par urgenturie</li>
                            <li>3.Incontinence urinaire mixte</li>
                            <li>4.Incontinence fécale</li>
                            <li>5.Rééducation du post-partum</li>
                            <li>6.Constipation terminale</li>
                        </ul></div>
                      </div>
                      <img class="img-fluid" src="../../../assets/formations/f2.png" alt="Formation pratique à la rééducation Abdo-Périnéo-Expiratoire" />
                  </a>
                  <!-- <div class="patholo">
                    <ul>
                      <li>1.Incontinence urinaire d'effort</li>
                      <li>2.Incontinence urinaire par urgenturie</li>
                      <li>3.Incontinence urinaire mixte</li>
                      <li>4.Incontinence fécale</li>
                      <li>5.Rééducation du post-partum</li>
                      <li>6.Constipation terminale</li>
                  </ul>
                  
                  
                  </div> -->
              </div>
          </div>
          <div class="col-lg-4 col-sm-6 mb-4">
              <!-- Portfolio item 3-->
              <div class="portfolio-item">
                  <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal3">
                      <div class="portfolio-hover">
                          <div class="portfolio-hover-content">   
                            <ul>
                              <li>1.Énurésie ​​</li>
                              <li>2.Encoprésie​</li>
                              <li>3.Hyperactivité vésicale</li>
                          </ul>
        
                              
                 </div>
                      </div>
                      <img class="img-fluid" src="../../../assets/formations/f3.png" alt="Formation pratique à la rééducation Abdo-Périnéo-Expiratoire" />
                  </a>
             
                  <!-- <div class="patholo">
                    <ul>
                      <li>1.Énurésie ​​</li>
                      <li>2.Encoprésie​</li>
                      <li>3.Hyperactivité vésicale</li>
                  </ul>

                      
                  </div> -->
              </div>
          </div>



      </div>
  </div>
</section>

  <section class="page-section winner-flow-section">
    <div class="text-center">
      <div class="image-and-title-container">
        <h2 class="section-heading text-uppercase">Les exercises respiratoires avec le winner flow vont</h2>
        <img src="../../../assets/img/stim-details/6.svg" alt="Winner Flow (How to Use Winner Flow)" class="winner-flow-icon">
      </div>
    </div>
    
    <div class="container">
      <div class="row">
        <div class="col-md-4 winner-flow-info">
          <div class="flow-numbers">
            <div class="number-item">
              <h1 class="number">1</h1>
              <p class="description">Placez le Winner Flow dans votre bouche, en le positionnant entre vos lèvres jusqu’à la première rainure.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 winner-flow-info">
          <div class="flow-numbers">
            <div class="number-item">
              <h1 class="number">2</h1>
              <p class="description">Évitez de le presser entre vos dents, gardez-le entre vos lèvres.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 winner-flow-info">
          <div class="flow-numbers">
            <div class="number-item">
              <h1 class="number">3</h1>
              <p class="description">Maintenez une direction perpendiculaire à votre visage pendant l’expiration active.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
  

  
  <section id="page-section" class="product-def-section">
    <div class="container" id="details">
        <div class="row product-def" style="margin-bottom: 0px;">
          <!-- Text on the left -->
          <div class="col-lg-6 d-flex align-items-center">
            <div class="text-details">
              <p class="mb-4 question text-uppercase">Le kit comprend :</p>



              <ul class="kit">
                <li>1 STIMFLOW®</li>
                <li>1 Embout Winner Flow</li>
                <li>1 Électrode périnéale</li>
                <li>2 Électrodes abdominales</li>
                <li>2 Câbles de liaison</li>
                <li>1 Chargeur secteur</li>
              </ul>
           

            </div>
          </div>

            <!-- Image on the right -->
            <div class="col-lg-6">
                <img  src='../../../assets/img/stim-details/5.svg' alt="Product Image" class="img-fluid product-image">
              
              </div>
              
  
        </div>

    </div>
</section>





