
    
<section class="page-section bg-white" id="product">
  <div class="container">
    <div class="text-center">
        <h2 class="section-heading text-uppercase" >SERVICES</h2>
        <!-- <h3 class="section-subheading text-muted">Notre Produts Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim eius minus adipisci iusto ipsa vitae ipsam, </h3> -->
    </div>
    <div class="row">
      <div class="column">
        <div class="card">
          <div class="icon-wrapper">
            <!-- <i class="fas fa-hammer"></i> -->
            <img src="../../../assets/services/s1.png" alt="Distribution de Dispositifs Médicaux">
          </div>
          <h3>Distribution de Dispositifs Médicaux</h3>
          <p>
            Nous sommes fiers d'être les distributeurs agréés du Winner Flow et du StimFlow en Tunisie et en Nord Afrique. Ces dispositifs médicaux de pointe sont conçus pour améliorer la qualité des soins de santé, 
            offrant des solutions efficaces et innovantes pour un large éventail de besoins médicaux.
          </p>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="icon-wrapper">
            <!-- <i class="fas fa-brush"></i> -->
            <img src="../../../assets/services/s2.png" alt="Consultation et Support Client">

          </div>
          <h3>Consultation et Support Client</h3>
          <p>
            Notre équipe dévouée de professionnels de la santé est là pour vous fournir un soutien et des conseils personnalisés. Que ce soit pour des questions sur nos produits, des conseils d'utilisation ou des recommandations spécifiques,
             nous sommes disponibles pour vous aider à chaque étape du processus.
          </p>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="icon-wrapper">
            <!-- <i class="fas fa-wrench"></i> -->
            <img src="../../../assets/services/s3.png" alt="Formation et Intégration">

          </div>
          <h3>Formation et Intégration</h3>
          <p>
            Nous offrons également des services de formation et d'intégration pour garantir une utilisation optimale de nos produits dans votre pratique médicale.
             Notre objectif est de vous fournir les connaissances et les compétences nécessaires pour tirer le meilleur parti de nos solutions innovantes.
          </p>
        </div>
      </div>
    </div></div>
  </section>
