.language-dropdown {
  font-family: Arial, sans-serif;
  color: #f5f2f2;
  margin: 40px;
}

/* Style for the language label */
.language-label {
  font-size: 16px;
  margin-bottom: 8px;
  display: block;
}

/* Style for the language select dropdown */
.language-select {
  padding: 3px;
  font-size: 16px;
  border: 2px solid #ffffff;
  border-radius: 5px;
  background-color: #ffffff;
  width: fit-content;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
}

/* Style for the dropdown arrow icon */
.language-select::-ms-expand {
  display: none;
}

/* Style for when the dropdown is open or focused */
.language-select:focus,
.language-select:hover {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.flag-icon {
  width: 24px; /* Adjust flag icon size */
  margin-right: 5px; /* Add some space between flag and text */
}
.dropdown-toggle{
  background-color: #f5f2f2;
  color: #4d4c4c;
}

.dropdown-toggle:hover{
  color: #2c898e;
}/* Style for the FAQ link */
/* Style for the FAQ link */
.faq .nav-link {
  color: #fff; /* Text color */
  text-decoration: none; /* Remove underline */
  padding:  6px 20px 6px; /* Padding around the link text */
  border-radius: 4px; /* Rounded corners */
  background-color: transparent; /* Transparent background initially */
  border: 2px solid #48BAC3; /* Border */
  transition: all 0.3s ease; /* Smooth transition for all properties */
}

/* Hover effect for the FAQ link */
.faq .nav-link:hover {
  background-color: #ffffff; /* Change background color on hover */
  color: #fff; /* Change text color on hover */
}

