<section class="page-section bg-light" id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mx-auto">
        <div class="text-center">
          <h2 class="section-heading text-uppercase">À propos de nous</h2>
          <div class="text">
            <!-- <h2>Some Text Here</h2> -->
            <p>Nous sommes une entreprise tunisienne entièrement dévouée à la distribution de matériel médical. Depuis notre création, 
              notre engagement indéfectible envers l'excellence et l'innovation a été le moteur principal de notre expansion.
               Notre mission fondamentale consiste à fournir des solutions médicales de la plus haute qualité, visant à améliorer la vie des patients et à faciliter le travail des professionnels de la santé. 
              N'hésitez pas à nous contacter dès aujourd'hui pour découvrir comment nous pouvons répondre à vos besoins médicaux avec efficacité et fiabilité.</p>
              <ul class="about-list">
                <li><i class="fas fa-check"></i> <span> Innovation</span></li>
                <li><i class="fas fa-check"></i> <span> Engagement envers la Qualité</span></li>
                <li><i class="fas fa-check"></i> <span> Satisfaction client</span></li>
              </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mx-auto">
        <div class="video text-center">
          <div class="video-container embed-responsive embed-responsive-16by9">
            <!-- Use the video tag for embedding video files -->
            <video class="embed-responsive-item" controls poster="../../assets/img/poster.png">
              <source src="../../../assets/01.mp4" type="video/mp4">
              Your browser does not support the video tag.
            </video>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</section>
