
<section class="page-section bg-light" id="portfolio">

  <div class="container">
    <div class="text">
      <h2>Some Text Here</h2>
      <p>Nous sommes une entreprise tunisienne entièrement dévouée à la distribution de matériel médical. Depuis notre création, 
        notre engagement indéfectible envers l'excellence et l'innovation a été le moteur principal de notre expansion.
         Notre mission fondamentale consiste à fournir des solutions médicales de la plus haute qualité, visant à améliorer la vie des patients et à faciliter le travail des professionnels de la santé. 
        N'hésitez pas à nous contacter dès aujourd'hui pour découvrir comment nous pouvons répondre à vos besoins médicaux avec efficacité et fiabilité.</p>
        <ul class="about-list">
          <li><i class="fas fa-check"></i> <span> Innovation</span></li>
          <li><i class="fas fa-check"></i> <span> Engagement envers la Qualité</span></li>
          <li><i class="fas fa-check"></i> <span> Satisfaction client</span></li>
        </ul>
    </div>
    <div class="video">
      <iframe width="600" height="300" src="https://www.youtube.com/embed/VIDEO_ID_HERE" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
  
</section>